<div ...attributes>

  <p>
    You walk into the cabin and see a lovely kitchen. On the table there are
    three bowls of porridge.
  </p>

  <p>
    Which bowl would you like to try?
  </p>

  <fieldset>

    <p>
      {{#let (concat "kitchen-" this.OPTIONS.TOO_HOT) as |id|}}
        <input
          type="radio"
          name="porridge"
          id={{id}}
          checked={{this.isPorridgeTooHot}}
          {{on "change" (fn @transitionTo (hash type="EAT" value=this.OPTIONS.TOO_HOT))}}
        >
        <label for={{id}}>
          The red bowl with steam rising from it
        </label>
      {{/let}}
    </p>

    <p>
      {{#let (concat "kitchen-" this.OPTIONS.JUST_RIGHT) as |id|}}
        <input
          type="radio"
          name="porridge"
          id={{id}}
          checked={{this.isPorridgeJustRight}}
          {{on "change" (fn @transitionTo (hash type="EAT" value=this.OPTIONS.JUST_RIGHT))}}
        >
        <label for={{id}}>
          The yellow bowl with a spoon left in it
        </label>
      {{/let}}
    </p>

    <p>
      {{#let (concat "kitchen-" this.OPTIONS.TOO_COLD) as |id|}}
        <input
          type="radio"
          name="porridge"
          id={{id}}
          checked={{this.isPorridgeTooCold}}
          {{on "change" (fn @transitionTo (hash type="EAT" value=this.OPTIONS.TOO_COLD))}}
        >
        <label for={{id}}>
          The green bowl with crackers in the porridge
        </label>
      {{/let}}
    </p>

  </fieldset>

</div>
