<h2>Wizard Modals</h2>

<ModalWorkspace as |workspace|>
  <button
    class="btn btn-primary"
    {{on "click" (fn workspace.open "goldilocks" this.currentState)}}
  >
    Read &rdquo;Goldilocks and the Three Bears&ldquo;
  </button>

  <GoldilocksStoryModal
    @name="goldilocks"
    @currentState={{this.currentState}}
    @onTransition={{fn (mut this.currentState)}}
    @registerManager={{workspace.register}}
    @unregisterManager={{workspace.unregister}}
    {{animated "flipInY" close="flipOutY"}}
  />

</ModalWorkspace>
