<h2>Persistent Wizard Modals</h2>

<ModalWorkspace as |workspace|>

  {{#let (fn workspace.open "goldilocks") as |openGoldilocksModal|}}
    <button
      class="btn {{if this.state "btn-success" "btn-primary"}}"
      {{on "click" (fn this.openModal openGoldilocksModal)}}
    >
      {{if this.state "Resume reading" "Read"}}
      &rdquo;Goldilocks and the Three Bears&ldquo;
    </button>
  {{/let}}

  {{#if this.state}}
    <button
      class="btn btn-error"
      {{on "click" (fn (mut this.state) undefined)}}
    >
      Reset progress
    </button>
  {{/if}}

  <CodeBlock @language="json" @code={{json this.state indent=2}} />

  <GoldilocksStoryModal
    @name="goldilocks"
    @subtitle="Persistent"
    @currentState={{this.state}}
    @onTransition={{fn (mut this.state)}}
    @registerManager={{workspace.register}}
    @unregisterManager={{workspace.unregister}}
    {{animated "flipInY" close="flipOutY"}}
  />

</ModalWorkspace>
