<h2>Persistent Wizard Modals</h2>

{{#if this.modalManager}}
  <button
    class="btn {{if this.state "btn-success" "btn-primary"}}"
    {{on "click" this.openModal}}
  >
    {{if this.state "Resume reading" "Read"}}
    &rdquo;Goldilocks and the Three Bears&ldquo;
  </button>
{{/if}}

{{#if this.state}}
  <button
    class="btn btn-error"
    {{on "click" (fn (mut this.state) undefined)}}
  >
    Reset progress
  </button>
{{/if}}

<CodeBlock @language="json" @code={{json this.state}} />

<GoldilocksStoryModal
  class="animated flipInY"
  @subtitle="Persistent"
  @currentState={{this.state}}
  @onTransition={{fn (mut this.state)}}
  @registerManager={{fn (mut this.modalManager)}}
/>
