<BasicModal
  ...attributes
  @registerManager={{action (mut this.modalManager)}}
  as |modal|
>

  <modal.header>
    <h1>Goldilocks and the Three Bears</h1>
  </modal.header>

  <modal.body>
    {{#unless this.currentState.meta.noBody}}
      <p>{{this.currentState.value}}</p>
    {{/unless}}
  </modal.body>

  <modal.footer>
    <button
      class="btn btn-default"
      {{on "click" (fn this.transitionTo "PREV")}}
    >
      Back
    </button>
    <button
      class="btn btn-primary"
      disabled={{this.uiViewInfo.nextDisabled}}
      {{on "click" (fn this.transitionTo "NEXT")}}
    >
      Next
    </button>
  </modal.footer>

</BasicModal>
