<h2>Historical Wizard Modals</h2>

<ModalWorkspace as |workspace|>

  <StateMachineHistory as |history|>

    {{#let (fn workspace.open "goldilocks") as |openGoldilocksModal|}}
      <button
        class="btn btn-primary"
        {{on "click" (fn this.trackModalResult history.reset openGoldilocksModal)}}
      >
        Read &rdquo;Goldilocks and the Three Bears&ldquo;
      </button>
    {{/let}}

    <table>
      <thead>
        <tr>
          <th>Event</th>
          <th>States</th>
          <th>Context</th>
        </tr>
      </thead>
      <tbody>
        {{#each history.stack as |state|}}
          <tr>
            <td>
              {{state.event.type}}
            </td>
            <td>
              {{#if state.history}}{{state.history.value}} ⇒{{/if}}
              {{state.value}}
            </td>
            <td>
              <code>{{json state.context indent=0}}</code>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="3" align="center">
              Nothing to report yet. Open the modal first.
            </td>
          </tr>
        {{/each}}
        {{#if this.modalResult}}
          <tr>
            <td>
              <em>Closed</em>
            </td>
            <td>
              {{this.modalResult.reason}}
            </td>
            <td>
              This is the result of the Confirmer.
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>

    <GoldilocksStoryModal
      @name="goldilocks"
      @subtitle="Historical"
      @currentState={{history.lastState}}
      @onTransition={{history.pushState}}
      @registerManager={{workspace.register}}
      @unregisterManager={{workspace.unregister}}
      {{animated "fadeInDown" close="fadeOutDown"}}
    />

  </StateMachineHistory>

</ModalWorkspace>
