<h2>Historical Wizard Modals</h2>

<ModalResultTracker as |modalTracker|>

  <StateMachineHistory as |history|>

    <button
      class="btn btn-primary"
      {{on "click" (fn this.chainActions (array history.reset modalTracker.openModal))}}
    >
      Read &rdquo;Goldilocks and the Three Bears&ldquo;
    </button>

    <table>
      <thead>
        <tr>
          <th>Event</th>
          <th>States</th>
          <th>Context</th>
        </tr>
      </thead>
      <tbody>
        {{#each history.stack as |state|}}
          <tr>
            <td>
              {{state.event.type}}
            </td>
            <td>
              {{#if state.history}}{{state.history.value}} ⇒{{/if}}
              {{state.value}}
            </td>
            <td>
              <code>{{json state.context indent=0}}</code>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="3" align="center">
              Nothing to report yet. Open the modal first.
            </td>
          </tr>
        {{/each}}
        {{#if modalTracker.result}}
          <tr>
            <td>
              <em>Closed</em>
            </td>
            <td>
              {{modalTracker.result.reason}}
            </td>
            <td>
              This is the result of the Confirmer.
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>

    <GoldilocksStoryModal
      class="animated flipInY"
      @subtitle="Historical"
      @currentState={{history.lastState}}
      @onTransition={{fn history.pushState}}
      @registerManager={{modalTracker.registerManager}}
    />

  </StateMachineHistory>

</ModalResultTracker>
