<h2>Historical Wizard Modals</h2>

<StateMachineHistory as |history|>

  <button
    class="btn btn-primary"
    {{on "click" (fn this.openModal history.reset)}}
  >
    Read "Goldilocks and the Three Bears"
  </button>

  <div>
    {{#if history.stack}}
      <ol class="history-report">
        {{#each history.stack as |state|}}
          <li class="item">
            <span>
              {{#if state.history}}{{state.history.value}} ⇒{{/if}}
              {{state.value}}
            </span>
            <span><code>{{json state.context indent=0}}</code></span>
          </li>
        {{/each}}
      </ol>
    {{else}}
      Nothing to report yet. Open the modal first.
    {{/if}}
  </div>

  <GoldilocksStoryModal
    class="animated flipInY"
    @subtitle="Historical"
    @currentState={{history.lastState}}
    @onTransition={{fn history.pushState}}
    @registerManager={{fn (mut this.modalManager)}}
  />

</StateMachineHistory>
