{{#let (get this.uiViewInfos this.state) as |uiViewInfo|}}

  <BasicModal
    ...attributes
    @registerManager={{fn (mut this.modalManager)}}
    {{did-insert this.setup}}
    as |modal|
  >

    {{#if @title}}
      <modal.header>
        <button
          class="btn btn-default btn-ghost btn-icon pull-right"
          aria-label="Close"
          data-test-selector="cancel"
          {{on "click" modal.cancel}}
        >
          &times;
        </button>
        <h1>{{@title}}</h1>
      </modal.header>
    {{/if}}

    <modal.body class={{this.state}}>
      {{yield (hash
        transitionTo=(fn this.transitionTo)
        registerUiViewInfo=(fn (mut (get this.uiViewInfos this.state)))
        modal=modal
        state=this.state
        currentState=@currentState
      )}}
    </modal.body>

    <modal.footer class="grid -stretch">
      <button
        data-test-selector="back"
        class="cell -6of12 btn btn-default btn-ghost"
        disabled={{uiViewInfo.prevDisabled}}
        {{on "click" (fn this.transitionTo "PREV")}}
      >
        {{if uiViewInfo.prevLabel uiViewInfo.prevLabel "Back"}}
      </button>
      <button
        data-test-selector="next"
        class="cell -6of12 btn btn-primary btn-ghost"
        disabled={{uiViewInfo.nextDisabled}}
        {{on "click" (fn this.transitionTo "NEXT")}}
      >
        {{if uiViewInfo.nextLabel uiViewInfo.nextLabel "Next"}}
      </button>
    </modal.footer>

  </BasicModal>

{{/let}}
