{{#let (hash
  labeledby=(concat this.guid "-header")
  describedby=(concat this.guid "-caption")
) as |ids|}}
  <div class="modal {{if this.showModal "open"}}">
    <div
      class="modal-content"
      ...attributes
      role="dialog"
      aria-model="true"
      aria-labeledby={{ids.labeledby}}
      aria-describedby={{ids.describedby}}
      {{ref this "modalElement"}}
    >
      {{#if this.showModal}}
        {{yield (hash
          header=(component "basic-modal/section" sectionClass="modal-header" sectionId=ids.labeledby)
          body=(component "basic-modal/section" sectionClass="modal-body" sectionId=ids.describedby)
          footer=(component "basic-modal/section" sectionClass="modal-footer")
          confirm=this.resolver.confirm
          reject=this.resolver.reject
          cancel=this.resolver.cancel
          error=this.resolver.error
        )}}
      {{/if}}
    </div>
  </div>
{{/let}}
